body {
  background-color: rgb(207, 204, 204);
  font-family: Open Sans, sans-serif;
  margin: 100px;
}

body h1 {
  font-family: "Bangers", cursive;
  font-size: 60px;
  text-align: center;
  margin: 0;
}

div.slogan p {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin: 0 0 20px;
  margin-bottom: 0;
}

h1 {
  font-size: 25px;
  font-weight: 300;
}

h2 {
  font-size: 50px;
  text-align: center;
  color: red;
}

p {
  font-size: 14px;
}

div.drink-bar img {
  display: block;
  position: absolute;
  right: 90px;
  top:105px
}

.principal a {
  font-size: 13px;
  color: white;
  font-weight: bold;
  position: relative;
  top: 10px;
}

/*cor menu*/
.principal {
  background: rgb(75, 73, 73);
  height: 50px;
  margin: 0 auto;
}


.table-product{
  padding: 10px;
  border: solid grey;
  margin: auto;
  width: 300px;
}

.table-product tr th{
  background-color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 3px solid red;
  padding: 50px;
  
}

.table-product td{
  text-align: center;
  border: 2px solid grey;
}

.table-product td img{
  display: block;
  margin: 19px;
}


footer{
  
  font-size: 12px;
  text-align: center;
}
