body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

div {
  border: 1px solid black;
}

#first-block {
  background-color: red;
  height: 12vh; /*Unidades relativas em relação a altura da janela*/
  width: 100vw; /*largura da janela*/
}

.column {
  display: flex; /*exibe elemento em nível de bloco*/
  flex-direction: row; /*direção dos itens*/
  justify-content: space-between; /*alinha quando não uso todo espaço disponivel*/
  flex-wrap: wrap; /*especificada se os itens são especificos, wrap não funciona se os elementos não forem flexiveis*/
  margin-top: 15px; /*margem supeior*/
}
/* #first-block {
    background-color: red;
    height: 12vh; Unidades relativas em relação a altura da janela
    width: 100vw; largura da janela
} */

.blue-block {
  background-color: blue;
  /*display: flex;*/
  height: 25vh;
  width: 30vw;
  margin-right: 22px;
  text-align: center;
}

.yellow-block {
  background-color: yellow;
  height: 25vh;
  width: 30vw;
  margin-right: 22px;
  text-align: center;
}

.green-block {
  background-color: green;
  height: 25vh;
  width: 30vw;
  text-align: center;
}

/*.black-block {
    background-color: black;
    color: white;
    height: 75vh;
    width: 50vw;
    margin-right: 22px;
    justify-content: center;
    margin-top: 15px;
}*/

.black-block-seven {
  background-color: black;
  color: white;
  height: 75vh;
  width: 45vw;
  margin-right: 22px;
  justify-content: center;
  text-align: center;
}

.black-block-eight {
  background-color: black;
  color: white;
  height: 75vh;
  width: 50vw;
  /*margin-right: 22px;*/
  justify-content: center;
  text-align: center;
}

.white-block-nine {
  background-color: white;
  height: 25vh;
  width: 30vw;
  justify-content: center;
  text-align: center;
}

.white-block-ten {
  background-color: white;
  height: 25vh;
  width: 30vw;
  justify-content: center;
  text-align: center;
}

.white-block-eleven {
  background-color: white;
  height: 25vh;
  width: 30vw;
  justify-content: center;
  text-align: center;
}

/*Responsividade:aplicar estilos diferentes mobile ou computador*/

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .column {
    flex-wrap: wrap;
    width: 100vw;
    display: flex;
  }

  .column div {
    width: 100%;
  }
}
